.transactionHistory {

    display: flex;
    flex-direction: column;
    justify-content: center;
   

    width: 300px;
    margin: 10px ;
    padding: 10px;

    border: 1px solid #ccc;
    border-radius: 5px;

}

.head {
    border-bottom: 1px solid #ccc;
    


}

.headItem {
    padding: 10px;

}

.bodyItem {
    padding: 10px;
    border-bottom: 1px solid #ccc;
   
}

.bodyItem:not(:last-child) {
     border-right: 1px solid #ccc;
}




